<div class="flex justify-center pt-3 bg-[url('https://wallpapercave.com/wp/cqhO8rQ.jpg')] bg-cover bg-bottom bg-fixed">
<ul>
    <app-pokemon-list-item 
        *ngFor="let pokemon of pokemon"
        [pokemon]="pokemon" 
    ></app-pokemon-list-item>
    <app-catch-pokemon-button></app-catch-pokemon-button>
</ul>
</div>