<li *ngIf="pokemon" class="mb-3 shadow rounded w-72 bg-slate-300 relative">
    
    <section>
        <img [src]="pokemon.picture" class="block w-40 ">
    </section>
    <section>
        <span class="text-xl p-4">{{ pokemon.name}}</span>
    </section>
    
    <app-catch-pokemon-button [pokemonId]="pokemon.id" [pokemonName]="pokemon.name"></app-catch-pokemon-button>
</li>