<div class="h-[calc(100vh_-_96px)] flex justify-center pt-3 bg-[url('https://wallpapercave.com/wp/cqhO8rQ.jpg')] bg-cover bg-bottom bg-fixed">
<ul>
    <app-profile-pokemon-list-item 
        *ngFor="let onePokemon of pokemon"
        [onePokemon]="onePokemon" 
    ></app-profile-pokemon-list-item>
    <app-catch-pokemon-button></app-catch-pokemon-button>
</ul>
</div>
