<nav class="flex h-24 sticky top-0 justify-around place-items-center bg-blue-700 drop-shadow-md text-white z-10">
    <div class="align-middle flex flex-row place-items-center">
        <img width="200" src="./assets/images/pokemonLogo.png" alt="test" />
        <p class="pl-3 font-bold text-2xl">TRAINERS!</p>
    </div>
    <div>
    <!-- Dont show navigation if the user aint logged in -->
    <ng-container *ngIf="user !== undefined">
        <ul class="flex place-items-center text-base font-bold">
            <li class="pr-4"><a routerLink="/pokemons">Pokémons</a></li>
            <li class="pr-4"><a routerLink="/profile">Profile</a></li>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded" (click)="logout()" routerLink="/">Logout</button>
        </ul>
    </ng-container>
    </div>
</nav>