<aside class="absolute top-4 right-4">
    
    <ng-container *ngIf="isCaught; then hide else show"></ng-container>
        <ng-template #show>
            <button id="button" class="border border-red-400 bg-purple-100 rounded flex justify-center items-center p-2" (click)="onCatchClick()"><span>Catch!</span></button>
            
        </ng-template>
        <div>
            <ng-template #hide >
                <span>This pokemon is caught!</span>
            </ng-template>
        </div>  
</aside>