<div class="h-[calc(100vh_-_96px)] w-screen flex items-center justify-center bg-[url('https://wallpapercave.com/wp/cqhO8rQ.jpg')] bg-cover bg-bottom">
<form class="flex flex-col items-center justify-center" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
        <p class="text-black font-bold">Please login</p>
        <input type="text" ngModel #username="ngModel" name="username" id="username" placeholder="Username" 
        class="block text-gray-700 text-sm font-bold mb-4 mt-4 py-3 px-4 rounded"/>

    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Catch em all!</button>
</form>
</div>