<li *ngIf="onePokemon" class="mb-3 shadow rounded w-72 bg-slate-300 relative">
    
    <section>
        <img [src]="onePokemon.picture" class="block w-40 ">
    </section>
    <section>
        <span class="text-xl p-4">{{ onePokemon.name}}</span>
    </section>

    <app-release-pokemon-button [pokemonName]="onePokemon.name"></app-release-pokemon-button>
</li>